.offers {
    width: 65%;
    height: 45vh;
    margin: auto; /* Center horizontally */
    margin-top: 110px;
    display: flex;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}

.offers-left{
   margin-top: 50px;
   font-size: 30px;
   font-weight: 800;
}
.offers-left h1{
    color: #171717;
    font-size: 65px;
    font-weight: 600;
}
.offers-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}
.offers-left button{
    width: 250px;
    height: 60px;
    border-radius: 35px;
    background-color: #ff4141;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.offers-right{
    flex: 1;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 200px;
}
.offers-right img{
    height: 55vh;
}