.productdisplay{
    display: flex;
    margin: 0px, 170px;
}
.productdisplay-left{
    display: flex;
    gap: 10px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 80px;
}
.productdisplay-img-list img{
    height: 150px;
}
.productdisplay-main-img{
    width: 400px;
    height: 470px;
}

